.bannerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    background-image: linear-gradient(180deg, cornflowerblue, white);
}
.bannerTitle {
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-top: 3rem;
    font-family: 'Open Sans Condensed', sans-serif;
    /* background-color: ; */
}